body{
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;

}
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 60px;
  font-style: italic;

}
nav a{

  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(30, 145, 30);
}
nav a:hover{
  background-color: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
  
}
.us{
margin-right: 30px;
text-decoration: none;

}
.me{
  margin-right: 50px;
}
.you{
  margin-right: 30px;
}
.tobi{
  color:white;
  background-color: green;
  border-radius: 10px;
  border: 0;
  font-size: 0.6rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 50px;
  cursor: pointer;
}
.tobi:hover{
  background-color: rgb(136, 255, 0);
}
.simi{
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-size: 60px;
}
.eri{
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

.Vaultico{
  font-size: 50px;
  background-color: rgb(39, 38, 38);
  color: aliceblue;
  height: 200px;
}

.Part{
  padding-left: 500px;
}

.aqua{
    color: green;
    background-color: rgb(143, 143, 143);
    border-radius: 10px;
    border: 0;
    font-size: 0.6rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 2rem;
    text-transform: uppercase;
    white-space: nowrap;
    margin-right: 50px;
    border-color: green;
    cursor: pointer;
}

.aqua:hover{
  background-color:  rgb(205, 204, 204);
}

.colour{
  text-align: center;
}

.balls{
  align-items: center;
}

.Trust{
  text-align: center;
}

*{
  box-sizing: border-box;
}

.column{
  float: left;
  width: 25%;
  padding: 3px;
  background-color: white;
}

.row::after{
    content: "";
    display: table;
}

*{
  box-sizing: border-box;
}

.fin{
  float: left;
  width: 25%;
  padding: 3px;
  background-color: white;
}

.table::after{
    content: "";
    display: table;
}

.fish{
  float: left;
  width: 25%;
  padding: 3px;
  background-color: white;
}

.content::after{
    content: "";
    display: table;
}

.Why{
  text-align: center;
}

.middle{
   font-size: 30px;
   background-color: black;
}

.Bolanle{
  float: left;
  width: 33.33%;
  padding: 3px;
  background-color: black;
}

.Oladoyin::after{
    content: "";
    display: table;
}

.Why{
   background-color: #000000;
   color: white;
}

.Accurate{
  text-align: center;
  background-color: white;
  color: black;
}

.Almost{
  float: left;
  width: 50%;
  padding: 3px;
  background-color: white;
  color: black;
}

.Last::after{
    content: "";
    display: table;
}

.done{
  color:white;
  background-color: green;
  border-radius: 10px;
  border: 0;
  font-size: 0.6rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 50px;
  cursor: pointer;
}

.done:hover{
  background-color: rgb(136, 255, 0);
}